<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi <%= params[:user].name %>,</p>
<p>
  The <%= params[:item].name %> is back in stock! You can purchase it now!
  Thank you.
</p>
</body>
</html>