<p id="notice"><%= notice %></p>

<b> Enter the OTP code you received in email </b>
<p>

<%= form_for :now, url: "verify_otp_path" do |form| %>
  <%= form.text_field :otp %>
  <%= form.submit  %>
<% end  %>

</p>