<p id="notice"><%= notice %></p>

<b> Enter the OTP code you received in email </b>
<p>

 <%= form_tag(verify_otp_path, method: :post) do %>
  <%= text_field_tag(:otp) %>
  <%= submit_tag("Submit")  %>
<% end  %>

</p>