<h1>Editing User</h1>

<%= render 'form', user: @user %>
	
  <p>
  </p>
  <p>
  <strong><%= link_to 'Edit Credit Cards', credit_cards_path(current_user) %></strong>
  </p>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
